.custom-scrollbar.svelte-dot0uw::-webkit-scrollbar{width:4px}.custom-scrollbar.svelte-dot0uw::-webkit-scrollbar-track{background:transparent}.custom-scrollbar.svelte-dot0uw::-webkit-scrollbar-thumb{background:#334155;border-radius:4px}
